<html>
    <head>
        <title>Receiver - Barcode</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            var barcodes = [];
            $(document).ready(function(){
                socket = io.connect();

                socket.on("connect", function() {
                    socket.emit('enter', {type: 'receiver'});
                })
                socket.on("disconnect", function() {
                    $('#roomAddress').html("");
                    socket = io.connect();
                });
                socket.on('enter', function(data) {
                    $('#roomAddress').html("<b>Join Session: " + data.room + "</b><div id='qrcode' class='m-2'></div>");
                    new QRCode(document.getElementById("qrcode"), data.room);
                });
                socket.on('devices', function(data) {
                    if (data.connected) {
                        clear_alerts();
                        raise_alert('alert-info', 'A device connected');
                        console.log("New device connected");
                    } else {
                        clear_alerts();
                        raise_alert('alert-warning', 'A device disconnected');
                        console.log("A device disconnected");
                    }
                });
                socket.on('barcode', function(data) {
                    barcodes.push(data.barcode);
                    format_barcodes();
                    $('#barcodes').scrollTop($('#barcodes')[0].scrollHeight);
                    clear_alerts();
                    raise_alert('alert-success', `<b>${data.barcode}</b>`);
                });
                $('#manual').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        barcodes.push($('#manual').val());
                        $('#manual').val('');
                        format_barcodes();
                    }
                });
            });
            function copy_to_clipboard() {
                navigator.clipboard.writeText($('#barcodes').val());
                clear_alerts();
                raise_alert('alert-primary', 'Barcodes Copied');
            }
            function leave_room() {
                socket.emit('leave', {});
                socket.disconnect();

                // go back to the selection page
                window.location.href = "{{ url_for('index') }}";
            }
            function clear_barcodes() {
                barcodes = [];
                $('#barcodes').val('');
                format_barcodes();
            }
            function format_barcodes() {
                $('#barcodes').val(barcodes.join($('input[name=separator]:checked').val()));
            }
            function clear_alerts() {
                $('#alerts .alert').alert('close');
            }
            function raise_alert(alert_type, content) {
                const template = document.getElementById("tpl-alert");
                let alertFragment = template.content.cloneNode(true);
                alertEL = alertFragment.querySelector(".alert");
                alertEL.classList.add(alert_type)
                alertContent = alertFragment.querySelector(".alert-content");
                alertContent.innerHTML = content;
                $('#alerts').append(alertFragment);
            }
        </script>
    </head>
    <body>
        <h1>Barcode Receiver</h1>
        <div >
            <div class="mb-3">
                <textarea id="barcodes" disabled cols="60" rows="20"></textarea>
            </div>
            <div class="mb-3" id="alerts"></div>
            <div>
                <b>Manual Entry: </b>
                <input id="manual" size="20" placeholder="Enter barcode here">
            </div>
            <div id="roomAddress">
            </div>
            <div class="pt-2">
                <a class="btn btn-primary btn-lg btn-block" href="#" onclick="copy_to_clipboard();">Copy</a>
                <a class="btn btn-warning btn-lg btn-block" href="#" onclick="clear_barcodes();">Clear</a>
            </div>
            <div class="pt-2" onchange="format_barcodes()">
                <input type="radio" class="form-check-input" id="separator-sp" name="separator" value=" " checked>
                <label class="form-check-label" for="radio1">Space</label>
                <input type="radio" class="form-check-input" id="separator-nl" name="separator" value="
">
                <label class="form-check-label" for="radio1">Newline</label>
                <input type="radio" class="form-check-input" id="separator-com" name="separator" value=",">
                <label class="form-check-label" for="radio1">Comma</label>
            </div>
            <div class="pt-2">
                <a class="btn btn-danger btn-lg btn-block" href="#" onclick="leave_room();">Start Again</a>
            </div>
        </div>
        <template id="tpl-alert">
            <div class="alert alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span class="alert-content"></span>
            </div>
        </template>
    </body>
</html>
