<html>
    <head>
        <title>Scanner - Barcode</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            var barcodes = [];
            var roomId = 0;
            var lastResult = 0;

            $(document).ready(function(){
                const beep = $('#scanBeep')[0];
                beep.volume = 0.25;  // Reduce the volume of the beep to 25%
                socket = io.connect();

                socket.on("disconnect", function() {
                    new_room();
                    socket = io.connect();
                });

                $('#manual').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        const text = $('#manual').val();
                        if(text.length != 0) {
                            send_barcode(text);
                        }
                        lastResult = text;
                        $('#manual').val('');
                    }
                });

                function onScanSuccess(decodedText, decodedResult) {
                    if (decodedText !== lastResult) {
                        lastResult = decodedText;
                        beep.play();

                        send_barcode(decodedText);
                        $('#lastScanCode').text(`Last Scanned ${decodedText}`)
                        console.log(`Code scanned = ${decodedText}`, decodedResult);
                    }
                }
                var html5QrcodeScanner = new Html5QrcodeScanner(
                    "qr-reader", {
                        fps: 10,
                        qrbox: $("#qr-reader").width() * 0.8,
                        aspectRatio: 1,
                        rememberLastUsedCamera: !0,
                        showTorchButtonIfSupported: !0,
                        showZoomSliderIfSupported: !0,
                        defaultZoomValueIfSupported: 1.5,
                    });
                html5QrcodeScanner.render(onScanSuccess);
            });
            function leave_room() {
                socket.disconnect();
                // go back to the selection page
                window.location.href = "{{ url_for('index') }}";
            }
            function send_barcode(barcode) {
                if (roomId === undefined) {
                    setup_room(barcode);
                    socket.emit('enter', {type: 'scanner', room: roomId});
                } else {
                    clear_alerts();
                    raise_alert('alert-success', 'Scanned: <b>' + barcode + '</b>');
                    barcodes.push(barcode);
                    format_barcodes();
                    if (roomId !== 0){
                        socket.emit('scan', {barcode: barcode});
                    }
                }
            }
            function format_barcodes() {
                $('#barcodes').val(barcodes.join('\n'));
            }
            function new_room() {
                if ((roomId !== undefined) && (roomId != 0)) {
                    socket.emit('leave', {});
                    socket.disconnect();  // A new socket will be created when we connect again
                }
                roomId = undefined;
                $('#roomAddress').html('<h2>Enter Receiver ID</h2>');
                $('#manual_label').text("Enter Receiver ID: ");
                $('#manual').attr('placeholder', "Enter receiver ID");
                lastResult = 0;
            }
            function setup_room(new_roomid) {
                roomId = new_roomid;
                if (new_roomid === 0) {
                    $('#roomAddress').html("<b>Standalone Mode</b>");
                } else {
                    $('#roomAddress').html("<b>Connected to: " + new_roomid + "</b>");
                }
                $('#manual_label').text("Manual Entry: ");
                $('#manual').attr('placeholder', "Enter barcode here");
            }
            function clear_alerts() {
                $('#alerts .alert').alert('close');
            }
            function raise_alert(alert_type, content) {
                const template = document.getElementById("tpl-alert");
                let alertFragment = template.content.cloneNode(true);
                alertEL = alertFragment.querySelector(".alert");
                alertEL.classList.add(alert_type)
                alertContent = alertFragment.querySelector(".alert-content");
                alertContent.innerHTML = content;
                $('#alerts').append(alertFragment);
            }
        </script>
        <audio id="scanBeep">
            <source src="https://www.soundjay.com/buttons/button-1.mp3" type="audio/mpeg">
        </audio>
    </head>
    <body>
        <h1>Scanner</h1>
        <div id="roomAddress">
            <b>Standalone Mode</b>
        </div>
        <div class="container-fluid">
            <div id="qr-reader" class="mb-3"></div>
        </div><br>
        <div id="alerts"></div>
        <div id="lastScanCode"></div>
        <div>
            <b id="manual_label">Manual Entry: </b>
            <input id="manual" size="20" placeholder="Enter barcode here">
        </div>
        <div class="pt-2 mb-3">
            <a class="btn btn-danger btn-lg btn-block" href="#" onclick="leave_room();">Start Again</a>
            <a class="btn btn-primary btn-lg btn-block" id="new_recv_btn" href="#" onclick="new_room();">Connect to receiver</a>
            <a class="btn btn-warning btn-lg btn-block" id="disconnect_btn" href="#" onclick="new_room();" hidden>Disconnect from receiver</a>
            <a class="btn btn-secondary btn-lg btn-block" id="standalone_btn" href="#" onclick="setup_room(0);" hidden>Standalone Mode</a>
            <a class="btn btn-warning btn-lg btn-block" href="#" onclick="barcodes = [];format_barcodes();">Clear</a>
        </div>
        <div class="mb-3">
            <textarea id="barcodes" readonly cols="40" rows="20"></textarea>
        </div>
        <template id="tpl-alert">
            <div class="alert alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span class="alert-content"></span>
            </div>
        </template>
    </body>
</html>
