<html>
    <head>
        <title>Scanner - Barcode</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/html5-qrcode@2.3.8/html5-qrcode.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket = io();
            var barcodes = [];
            var roomId = '0';  // 0 means standalone mode
            var lastResult = 0;

            $(document).ready(function(){
                const beep = $('#scanBeep')[0];
                beep.volume = 0.25;  // Reduce the volume of the beep to 25%

                // check if there is a room id in the cookie
                // if there is, then load room id from the cookie
                const roomId_cookie = document.cookie
                    .split("; ")
                    .find((row) => row.startsWith("roomid="));
                if (roomId_cookie !== undefined) {
                    roomId = roomId_cookie.split("=")[1];
                }

                // don't open socket until we have a room id
                if ((roomId !== '0') && (roomId !== undefined)) {
                    socket.connect();
                    $('#new_recv_btn').hide();
                    $('#disconnect_btn').show();
                    $('#standalone_btn').show();
                }

                socket.on("disconnect", function() {
                    socket.connect();
                });

                // on socket connect, automatically join the cached room id
                socket.on('connect', function() {
                    if ((roomId !== undefined) && (roomId != '0')) {
                        socket.emit('enter', {type: 'scanner', room: roomId});
                        setup_room(roomId);
                    }
                });

                socket.on('barcode_response', function(data) {
                    console.log(`Received barcode: ${data.barcode}, ${data.part}`);
                    const template = document.getElementById("tpl-barcode");
                    let barcodeFragment = template.content.cloneNode(true);
                    barcodeFragment.querySelector(".barcode").innerHTML = data.barcode;
                    barcodeFragment.querySelector(".part").innerHTML = data.part;
                    $('#barcode_table_body').prepend(barcodeFragment);
                });

                $('#manual').keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        const text = $('#manual').val();
                        if(text.length != 0) {
                            send_barcode(text);
                        }
                        lastResult = text;
                        $('#manual').val('');
                    }
                });

                function onScanSuccess(decodedText, decodedResult) {
                    if (decodedText !== lastResult) {
                        lastResult = decodedText;
                        beep.play();

                        send_barcode(decodedText);
                        $('#lastScanCode').text(`Last Scanned ${decodedText}`)
                        console.log(`Code scanned = ${decodedText}`, decodedResult);
                    }
                }
                var html5QrcodeScanner = new Html5QrcodeScanner(
                    "qr-reader", {
                        fps: 10,
                        qrbox: $("#qr-reader").width() * 0.8,
                        aspectRatio: 1,
                        rememberLastUsedCamera: !0,
                        showTorchButtonIfSupported: !0,
                        showZoomSliderIfSupported: !0,
                        defaultZoomValueIfSupported: 1.5,
                    });
                html5QrcodeScanner.render(onScanSuccess);
            });
            function leave_room() {
                socket.disconnect();
                clear_roomId();  // remove the room id from the cookie
                // go back to the selection page
                window.location.href = "{{ url_for('index') }}";
            }
            function send_barcode(barcode) {
                if (roomId === undefined) {
                    setup_room(barcode);
                    // if the socket is not open, open it, else just send the barcode
                    if (!socket.connected) {
                        socket.connect();
                    } else {
                        socket.emit('enter', {type: 'scanner', room: roomId});
                    }
                } else {
                    clear_alerts();
                    raise_alert('alert-success', 'Scanned: <b>' + barcode + '</b>');
                    barcodes.push(barcode);
                    format_barcodes();
                    if (roomId !== 0){
                        socket.emit('scan', {barcode: barcode});
                    }
                }
            }
            function format_barcodes() {
                $('#barcodes').val(barcodes.join('\n'));
            }
            function clear_barcodes() {
                barcodes = [];
                format_barcodes();
                $('#barcode_table_body').empty();
            }
            function new_room() {
                if ((roomId !== undefined) && (roomId != '0')) {
                    socket.emit('leave', {});
                    socket.disconnect();  // A new socket will be created when we connect again
                    clear_roomId();  // remove the room id from the cookie
                }
                $('#new_recv_btn').show().addClass('disabled');
                $('#disconnect_btn').hide();
                $('#standalone_btn').show();
                roomId = undefined;
                $('#roomAddress').html('<h2>Enter Receiver ID</h2>');
                $('#manual_label').text("Enter Receiver ID: ");
                $('#manual').attr('placeholder', "Enter receiver ID");
                lastResult = 0;
            }
            function setup_room(new_roomid) {
                roomId = new_roomid;
                save_roomId(new_roomid);  // store the room id in a cookie
                if (new_roomid === '0') {
                    $('#roomAddress').html("<b>Standalone Mode</b>");
                    $('#new_recv_btn').show().removeClass('disabled');
                    $('#disconnect_btn').hide();
                    $('#standalone_btn').hide();
                } else {
                    $('#roomAddress').html("<b>Connected to: " + new_roomid + "</b>");
                    $('#new_recv_btn').hide();
                    $('#disconnect_btn').show();
                    $('#standalone_btn').show();
                }
                $('#manual_label').text("Manual Entry: ");
                $('#manual').attr('placeholder', "Enter barcode here");
            }
            function clear_alerts() {
                $('#alerts .alert').alert('close');
            }
            function raise_alert(alert_type, content) {
                const template = document.getElementById("tpl-alert");
                let alertFragment = template.content.cloneNode(true);
                alertEL = alertFragment.querySelector(".alert");
                alertEL.classList.add(alert_type)
                alertContent = alertFragment.querySelector(".alert-content");
                alertContent.innerHTML = content;
                $('#alerts').append(alertFragment);
            }
            function save_roomId(new_roomid) {
                const d = new Date();
                // 12 hours in the future
                d.setTime(d.getTime() + (12*60*60*1000));
                const expires = "expires="+ d.toUTCString();
                document.cookie = "roomid=" + new_roomid + ";" + expires + ";path=/";
            }
            function clear_roomId() {
                document.cookie = "roomid=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
            }
       </script>
        <audio id="scanBeep">
            <source src="https://www.soundjay.com/buttons/button-1.mp3" type="audio/mpeg">
        </audio>
    </head>
    <body>
        <h1>Scanner</h1>
        <div id="roomAddress">
            <b>Standalone Mode</b>
        </div>
        <div class="container-fluid">
            <div id="qr-reader" class="mb-3"></div>
            <div id="alerts"></div>
            <div id="lastScanCode"></div>
            <div>
                <b id="manual_label">Manual Entry: </b>
                <input id="manual" size="20" placeholder="Enter barcode here">
            </div>
            <div class="pt-2 mb-3">
                <a class="btn btn-danger btn-lg btn-block" href="#" onclick="leave_room();">Start Again</a>
                <a class="btn btn-primary btn-lg btn-block" id="new_recv_btn" href="#" onclick="new_room();">Connect to receiver</a>
                <a class="btn btn-warning btn-lg btn-block" id="disconnect_btn" href="#" onclick="new_room();" style="display: none;">Disconnect from receiver</a>
                <a class="btn btn-secondary btn-lg btn-block" id="standalone_btn" href="#" onclick="setup_room('0');" style="display: none;">Standalone Mode</a>
                <a class="btn btn-warning btn-lg btn-block" href="#" onclick="clear_barcodes();">Clear</a>
            </div>
            <div class="mb-3">
                <table id="barcode_table" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Barcode</th>
                            <th>Part</th>
                        </tr>
                    </thead>
                    <tbody id="barcode_table_body">
                    </tbody>
                </table>
                <textarea id="barcodes" readonly cols="40" rows="20"></textarea>
            </div>
        </div>
        <template id="tpl-alert">
            <div class="alert alert-dismissible fade show">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                <span class="alert-content"></span>
            </div>
        </template>
        <template id="tpl-barcode">
            <tr>
                <td class="barcode"></td>
                <td class="part"></td>
            </tr>
        </template>
    </body>
</html>
